/* HEADER */
.site-branding a:hover, .site-branding a:focus {
    opacity: 1;
}
.site-branding {
    margin-bottom: 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    text-align: center;
}
.home .site-branding {
    text-align: center;
}
.home .custom-logo-link img {
 max-height: 200px !important;
}
.home .site-title {
  font-size: 45px;
}
.home .site-description {
    font-size: 40px;
}
.custom-header {
    position: relative;
}
.custom-header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
}
.site-header .menu-scroll-down{
	display: none;
}
/* Navigation */
.site-header .navigation-top{
    position: relative;
    background: #2ab220;
    border: none;
}
.site-header .wrap{
	    padding:0px;
}
.site-header #site-navigation{
    float: none;
    margin: 0 auto;
    display: table;
}
.site-header .main-navigation a{
     padding: 1.5em 1.50em;
    color: #fff;
       -webkit-transition: all .2s ease-in-out;
    -moz-transition:    all .2s ease-in-out;
    -o-transition:      all .2s ease-in-out;
    -ms-transition:     all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}

.custom-header{
	margin-bottom: 0 !important;
}
.site-header .navigation-top .sub-menu a{
	color: #222;
}
.site-header .main-navigation a:hover, .site-header .navigation-top .sub-menu a:hover
{
	    color: #fff;
    background-color: #001d38;
	   -webkit-transition: all .2s ease-in-out;
    -moz-transition:    all .2s ease-in-out;
    -o-transition:      all .2s ease-in-out;
    -ms-transition:     all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}