/* HEADER */
.site-branding a:hover, .site-branding a:focus {
    opacity: 1;
}
.site-branding {
    margin-bottom: 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    text-align: center;
}
.home .site-branding {
    text-align: center;
}
.home .custom-logo-link img {
    max-height: 270px !important;
}
.home .site-title {
    font-size: 60px;
}
.home .site-description {
    font-size: 48px;
}
.custom-header {
    position: relative;
}
.custom-header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
}
.site-header .menu-scroll-down{
	display: none;
}