/* HEADER */
.site-branding a:hover, .site-branding a:focus {
    opacity: 1;
}
.site-branding {
    margin-bottom: 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    text-align: center;
}
.home .site-branding {
    text-align: center;
}
.home .custom-logo-link img {
 max-height: 200px !important;
}
.home .site-title {
  font-size: 45px;
}
.home .site-description {
    font-size: 40px;
    position: relative;
    opacity: 1 !important;    
}
/*.home .site-description::after{
    
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 60px;
    font-size: 25px;
    background: #2ab220;
    width: 30%;
}*/
.custom-header {
    position: relative;
}
.custom-header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
}
.site-header .menu-scroll-down{
	display: none;
}
/* Navigation */
.site-header .navigation-top{
    position: relative;
    background: #2ab220;
    border: none;
}
.site-header .wrap{
	    padding:0px;
}
.site-header #site-navigation{
    float: none;
    margin: 0 auto;
    display: table;
}
.site-header .main-navigation a{
      padding: 20px 30px;
    color: #fff;
       -webkit-transition: all .2s ease-in-out;
    -moz-transition:    all .2s ease-in-out;
    -o-transition:      all .2s ease-in-out;
    -ms-transition:     all .2s ease-in-out;
    transition:         all .2s ease-in-out;
        font-size: 16px;
    text-transform: uppercase;
    
}

.custom-header{
	margin-bottom: 0 !important;
}
.site-header .navigation-top .sub-menu a{
	color: #222;
}
.site-header .main-navigation a:hover, .site-header .navigation-top .sub-menu a:hover
{
	    color: #fff;
    background-color: #001d38;
	   -webkit-transition: all .2s ease-in-out;
    -moz-transition:    all .2s ease-in-out;
    -o-transition:      all .2s ease-in-out;
    -ms-transition:     all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}
.site-navigation-fixed.navigation-top{
	position: fixed !important;
}
#top-menu > li:first-child:before {
    content: "\f102";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
        top: 18px;
    left: 6px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(2) > a:before {
    content: "\f348";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
        top: 18px;
    left: 6px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
/* #top-menu > li:nth-child(3) > a:before {
    content: "\f469";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
} */
#top-menu > li:nth-child(3) > a:before {
    content: "\f307";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
        top: 18px;
    left: 6px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(4) > a:before {
    content: "\f125";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
      top: 18px;
    left: 6px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.home .content-area .entry-header .entry-title{
        font-size: 30px;
}
.what-to-expect .wp-block-image img{
    max-width: 50%;
    float: none;
    margin: 0 auto;
    display: table;
}
.what-to-expect .wp-block-image figcaption{
font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}